@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

$black: #252422;
$dkGrey: #403d39;
$dkBlue: #13626d;
$ltBlue: #009fb7;
$green: #1efc1e;
$red: #db504a;
$orange: #ed7a25;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  background: $dkGrey;
  color: #fff;
}

h1 {
  color: $ltBlue;
  background-color: #000;
  font-weight: 600;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

h2 {
  color: $green;
  font-weight: 300;
  margin-bottom: 2%;
}

h3 {
  color: $green;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
}

hr {
  margin: 10%;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.btn {
  background-color: $green;
  border: none;
  box-shadow: none;
  padding: 5px 10px;
  color: $black;
}

#app {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  margin-bottom: 7%;
}

#upcoming {
  margin: 0 auto;
  padding: 0;
  width: 80%;

  h4 {
    margin-bottom: 5%;
  }

  .upcomingCard {
    width: 100%;
    height: 250px;
    overflow: hidden;

    .card-footer {
      position: absolute;
      bottom: 0;
      line-height: 24px;
      background-color: $ltBlue;
      padding: 10px;
      width: 100%;
    }
  }
}

#search-bar {
  margin-left: 10%;
}

#results {
  h2 {
    margin: 5% 10%;
  }

  #search-results {
    width: 100%;

    li {
      margin-top: 5%;
    }

    .searchCard {
      width: 90%;
      margin: 0 auto;
      box-shadow: 0px 0px 15px #000;

      .bg-darken {
        background-color: rgba($color: $black, $alpha: 0.5);

        img {
          width: 100%;
          height: auto;
        }

        .platforms {
          margin-top: -5%;
          margin-bottom: 5%;

          #js-platform-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-bottom: 5%;

            li {
              background-color: #000;
              padding: 10px;
              border-radius: 25px;
            }
          }
        }

        .stores {
          margin-top: -5%;
          margin-bottom: 5%;

          h4 {
            margin-left: 1%;
          }

          #js-store-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-bottom: 5%;

            a {
              text-decoration: none;
              color: white;
              padding: 15px;
              background-color: #021a32;
              border-radius: 20px;
              width: 150px;
              margin: 2%;

              &:hover {
                color: #a4d7f4;
                text-align: center;
              }
            }

            li {
              font-size: 18px;
              text-align: center;
              margin: 1% auto;
            }
          }
        }

        .card-info {
          position: relative;
          top: 0;

          #card-text {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            p {
              padding: 10px;
            }
          }
        }
      }
    }
  }

  #resultsNav {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
  }
}

#mainFooter {
  margin: 10% auto;
}

@media screen and (min-width: 600px) {
  #search-results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      width: 49%;
    }

    #js-platform-list {
      li {
        width: fit-content;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    padding: 25px 0px;
  }
  #resultsNav {
    .resultNextBtn,
    .resultPrevBtn {
      padding: 25px 30px;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  #search-results {
    li {
      width: 33%;
    }
  }
}

@media screen and (min-width: 1366px) {
  #results {
    #resultsNav {
      margin-top: 5%;
    }
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 50px;
  }

  h4 {
    font-size: 36px;
  }

  .btn {
    padding: 15px 30px;
  }

  #search-bar {
    label {
      font-size: 24px;
    }

    #js-search-term {
      height: 50px;
      width: 50%;
    }

    .search-btn {
      font-size: 24px;
    }
  }
}
