@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat;
  background: #403d39;
  color: #fff;
}

h1 {
  color: #009fb7;
  background-color: #000;
  font-weight: 600;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

h2 {
  color: #1efc1e;
  font-weight: 300;
  margin-bottom: 2%;
}

h3 {
  color: #1efc1e;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-weight: 300;
}

hr {
  margin: 10%;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.btn {
  background-color: #1efc1e;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 10px;
  color: #252422;
}

#app {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  margin-bottom: 7%;
}

#upcoming {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

#upcoming h4 {
  margin-bottom: 5%;
}

#upcoming .upcomingCard {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

#upcoming .upcomingCard .card-footer {
  position: absolute;
  bottom: 0;
  line-height: 24px;
  background-color: #009fb7;
  padding: 10px;
  width: 100%;
}

#search-bar {
  margin-left: 10%;
}

#results h2 {
  margin: 5% 10%;
}

#results #search-results {
  width: 100%;
}

#results #search-results li {
  margin-top: 5%;
}

#results #search-results .searchCard {
  width: 90%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 15px #000;
          box-shadow: 0px 0px 15px #000;
}

#results #search-results .searchCard .bg-darken {
  background-color: rgba(37, 36, 34, 0.5);
}

#results #search-results .searchCard .bg-darken img {
  width: 100%;
  height: auto;
}

#results #search-results .searchCard .bg-darken .platforms {
  margin-top: -5%;
  margin-bottom: 5%;
}

#results #search-results .searchCard .bg-darken .platforms #js-platform-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5%;
}

#results #search-results .searchCard .bg-darken .platforms #js-platform-list li {
  background-color: #000;
  padding: 10px;
  border-radius: 25px;
}

#results #search-results .searchCard .bg-darken .stores {
  margin-top: -5%;
  margin-bottom: 5%;
}

#results #search-results .searchCard .bg-darken .stores h4 {
  margin-left: 1%;
}

#results #search-results .searchCard .bg-darken .stores #js-store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5%;
}

#results #search-results .searchCard .bg-darken .stores #js-store-list a {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: #021a32;
  border-radius: 20px;
  width: 150px;
  margin: 2%;
}

#results #search-results .searchCard .bg-darken .stores #js-store-list a:hover {
  color: #a4d7f4;
  text-align: center;
}

#results #search-results .searchCard .bg-darken .stores #js-store-list li {
  font-size: 18px;
  text-align: center;
  margin: 1%;
}

#results #search-results .searchCard .bg-darken .card-info {
  position: relative;
  top: 0;
}

#results #search-results .searchCard .bg-darken .card-info #card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#results #search-results .searchCard .bg-darken .card-info #card-text p {
  padding: 10px;
}

#results #resultsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15%;
}

#mainFooter {
  margin: 10% auto;
}

@media screen and (min-width: 600px) {
  #search-results {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #search-results li {
    width: 49%;
  }
  #search-results #js-platform-list li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    padding: 25px 0px;
  }
  #resultsNav .resultNextBtn,
  #resultsNav .resultPrevBtn {
    padding: 25px 30px;
    font-size: 2rem;
    font-weight: 600;
  }
}

@media screen and (min-width: 1280px) {
  h2 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
  }
  #search-results li {
    width: 33%;
  }
}

@media screen and (min-width: 1366px) {
  #results #resultsNav {
    margin-top: 5%;
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: 50px;
  }
  h4 {
    font-size: 36px;
  }
  .btn {
    padding: 15px 30px;
  }
  #search-bar label {
    font-size: 24px;
  }
  #search-bar #js-search-term {
    height: 50px;
    width: 50%;
  }
  #search-bar .search-btn {
    font-size: 24px;
  }
}
/*# sourceMappingURL=styles.css.map */